{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container">
    <br>    

    <form action="{{ path('connexion') }}" method="post">
        <div>
            <label for="username">Pseudo:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password" />
        </div>

        <br>
        {% if error %}
            <div style="color: red;">
                Le pseudo ou le mot de passe est incorrect
            </div>
            <br>
        {% endif %}
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-success">Se connecter</button>  

    </form>
</div>
<br>
{% endblock %}
