{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisations{% endblock %}

{% block body %}
    <h2>Conditions générales d'utilisations</h2>
    <div class="padding"
    <p>
    
 
LES FERMES D’ICI
EURL au capital social de 5.000 euros,
Dont le siège social est situé 95 chemin de la longue haie 76550 AMBRUMESNIL,
Immatriculée au Registre du Commerce et des Société de DIEPPE sous le N° B RCS 525 028 395,
N° SIRET : 525 028 395 00016,
N° de TVA intracommunautaire : FR70 525 028 395
<br>
ARTICLE 1. OBJET
<br>
 Les présentes Conditions Générales de Vente ont pour objet de définir les droits et obligations de la société LES FERMES D’ICI et de ses clients internautes (ci-après dénommés « Le Client »), dans le cadre des achats effectués par ces derniers sur son site Internet www.lesfermesdici.fr.Les présentes Conditions Générales de Vente sont uniquement applicables aux consommateurs à l’exclusion des professionnels.
 En cas de modification des présentes Conditions Générales de Vente, la version en vigueur à la date et à l’heure d’enregistrement de la commande est applicable au Client.
 En achetant des produits via le présent site Internet, le Client accepte les présentes Conditions Générales de Vente.
 <br>
 ARTICLE 2. OFFRE DE PRODUITS AGRICOLES ET FERMIERS
<br>
 2.1 : Présentation
<br>
 LES FERMES D’ICI a rédigé des fiches de présentation de chacun des producteurs auprès desquels elle s’approvisionne afin d’informer le consommateur sur la qualité des produits et leur mode de production. Ces fiches de présentation sont accessibles dans la rubrique « qui sommes nous ? » de son site Internet.
 L’offre de produits agricoles et fermiers se traduit par un ensemble de produits sélectionnés  par LES FERMES D’ICI. LES FERMES D’ICI explicite, dans différentes rubriques figurant sur la page d’accueil de son site Internet, les différents produits proposés à la vente, lesquels évoluent régulièrement en fonction des saisons et des disponibilités.
 Les photographies mises en ligne ont toutes été réalisées dans les fermes des producteurs auprès desquels LES FERMES D’ICI s’approvisionne. Ces photographies tendent à illustrer le plus fidèlement possible les produits vendus mais n’ont pas de valeur contractuelle.
 <br>
2.2 : Durée de validité
<br>
 LES FERMES D’ICI fait ses meilleurs efforts pour satisfaire toutes les commandes des Clients.
 Néanmoins, les produits, en raison de leur nature, sont présentés par LES FERMES D’ICI dans la limite des stocks disponibles.
 Dans l’hypothèse où le Client aurait commandé un produit ou un panier de produits qui ne se trouverait finalement plus en stock, LES FERMES D’ICI préviendra le Client par courrier électronique, et le cas échéant par téléphone, du refus de sa commande, dans le délai de quarante-huit (48) heures à compter de l’enregistrement de sa commande et, en tout état de cause, au plus tard le jeudi à 12h suivant la date d’émission de la commande.
 <br>
2.3 : Étendue territoriale
<br>
 Les produits agricoles et fermiers sont proposés à la vente pour les seuls achats en ligne livrés dans les points-relais des FERMES D’ICI situés en Seine-Maritime.  
 <br>
2.4 : Tarifs
<br>
Les prix des produits agricoles et fermiers indiqués sur le site Internet s’entendent en Euro, toutes taxes comprises et incluent les frais de livraison de la commande jusqu’au point-relais choisi par le Client.
Les tarifs sont fermes à la commande et ne varient pas à la livraison en fonction de la fluctuation des cours.
Les prix sont forfaitaires pour les paniers de produits correspondant à une formule prédéfinie par les FERMES D’ICI. Les prix sont exprimés de façon forfaitaire, au lot ou à la pièce.
 <br>
 ARTICLE 3. CRÉATION D’UN COMPTE CLIENT
<br>
 Préalablement à la première commande de produits fermiers sur le site Internet www.lesfermesdici.fr, le Client doit créer un compte client où il renseigne ses données personnelles et détermine son mot de passe. Les informations indispensables sont signalées par un astérisque.
 Le Client est responsable des informations saisies lors de la création de son compte client.
 Pour toutes les commandes suivantes, le Client accèdera à l’espace de commande des produits fermiers en cliquant sur le lien « Mon compte » puis en précisant son identifiant, qui correspond à son adresse e-mail, et son mot de passe. Cet identifiant est strictement personnel au Client et il lui est interdit de le communiquer à un tiers.
 <br>
 ARTICLE 4. COMMANDE
<br>
 Pour passer commande, le Client doit être majeur et avoir la capacité légale de contracter.
 Le Client doit passer commande sur le site Internet www.lesfermesdici.fr avant le mardi 12h pour être livré du jeudi au samedi de la semaine suivante, en fonction des points-relais.
 Le Client est averti que chaque commande en ligne est subordonnée à un minimum d’achat de quinze (15) euros TTC.
 Le Client passe commande auprès des FERMES D’ICI selon la procédure suivante :
•    Le Client sélectionne le point-relais où il souhaite retirer les produits.
•    Le Client choisit ses produits parmi les produits proposées par LES FERMES D’ICI.
•    La commande fait l’objet d’un récapitulatif que le Client est en mesure de vérifier et de corriger si nécessaire.
•    Le Client confirme définitivement sa commande en cliquant sur l’onglet « Valider Ma Commande », après avoir expressément accepté les présentes Conditions Générales de Vente en cochant la case prévue à cet effet.
<br>
 ARTICLE 5. PAIEMENT
<br>
 Les commandes effectuées sur le présent site Internet sont payables, selon le point-relais choisi, par :
 -          carte bancaire CARTE BLEUE, E-CARTEBLEUE, VISA, EUROCARD, MASTERCARD ;
-          chèque bancaire ou postal ;
-          titres restaurant
-          en espèces
-          virement
 Lorsqu’il sélectionne son point-relais de retrait des produits, le Client a la possibilité de connaître les modes de paiement acceptés, dans la rubrique située en haut à droite de votre écran, avant de valider son choix.
 <br>
5.1 : En cas de paiement par carte bancaire :
<br>
 Le prix est exigible dès l’enregistrement de la commande en ligne.
 LES FERMES D’ICI utilise un système de paiement sécurisé SSL.
 En cas d’utilisation frauduleuse de sa carte bancaire, le Client est invité à en informer LES FERMES D’ICI dès son constat, en appelant le service clients au numéro de téléphone indiqué à l’article 17 des présentes.
 <br>
5.2 : En cas de paiement par chèque :
<br>
 Le Client a la possibilité de payer le montant de sa commande par chèque soit lors du retrait des produits au point-relais, soit par envoie postal dans un délai de 7 jours à réception du panier, sous réserve que ce mode de paiement soit autorisé pour le point-relais considéré.
 <br>
5.3 : En cas de paiement en espèces
<br>
 Le Client a la possibilité de payer le montant de sa commande en espèces lors du retrait des produits au point-relais, sous réserve que ce mode de paiement soit autorisé pour le point-relais considéré.
<br>
5.4 : En cas de paiement en titres restaurant
<br>
 Le Client a la possibilité de payer le montant de sa commande en titres restaurants (2 maxi par commande selon la législation en vigueur) ainsi que le solde par chèque, sous réserve que ce mode de paiement soit autorisé pour le point-relais considéré. Le paiement s’effectuera soit lors du retrait des produits au point-relais, soit par envoie postal dans un délai de 7 jours à réception du panier.
 <br>
 ARTICLE 6. CONFIRMATION DE LA COMMANDE
<br>
 La commande en ligne du Client n’emporte pas conclusion du contrat de vente.
 LES FERMES D’ICI dispose de quarante-huit (48) heures à compter de l’enregistrement de la commande du Client pour manifester son refus de la commande par courrier électronique.
Sans réponse des FERMES D’ICI dans les quarante-huit (48) heures suivant la date de réception de la commande du Client, cette dernière devra être considérée comme acceptée par LES FERMES D’ICI et le contrat de vente sera réputé conclu à cette date.
 
<br>
ARTICLE 7. LIVRAISON
<br>
 7.1 : Conditions de livraison
<br>
 Le Client choisit le point-relais de livraison où il viendra retirer les produits commandés.
 Le Client s’engage à venir retirer les produits commandés à la date prévue pour le point-relais considéré, laquelle est indiquée sur la page de validation définitive de la commande que le Client peut imprimer.
 Il est entendu que dans l’éventualité où le Client ne viendrait pas retirer sa commande, préalablement payée, à la date prévue, le panier de produits sera considéré comme livré par LES FERMES D’ICI et le Client ne pourra prétendre à une nouvelle livraison. Dans ce cas, le Client ne pourra prétendre à aucun remboursement du prix de sa commande non retirée.
 Dans l’hypothèse où le Client ne se présenterait pas pour retirer les produits au point-relais tout en ayant choisi le paiement par chèque ou en espèces à la livraison, le Client sera alors redevable envers LES FERMES D’ICI d’une pénalité égale à 50% du montant hors taxe de sa commande, cette pénalité ne pouvant toutefois être inférieure à un montant minimal forfaitaire de 50 euros.
 LES FERMES D’ICI enverra au Client une facture du montant de la pénalité due pour non retrait des produits commandés. Cette facture est payable dans un délai de trente jours à compter de son émission.
 Tout panier de produits est accompagné d’un bon de livraison faisant office de facture, qui est remis au Client lors du retrait de sa commande.
 <br>
7.2. Délais de livraison
<br>
 La livraison des produits intervient à la date et aux heures indiquées sur le récapitulatif de la commande en ligne du Client.  
 En tout état de cause, les livraisons sont effectuées dans un délai maximum de dix (10) jours ouvrables à compter de la conclusion du contrat de vente.  
 En cas de retard prévisible de livraison, LES FERMES D’ICI en informera immédiatement le Client par téléphone, confirmé par courrier électronique, et lui fournira une estimation du délai supplémentaire de livraison.
 Le Client aura la possibilité de solliciter l’annulation de sa commande et le remboursement intégral des sommes versées, sous réserve de formuler cette demande auprès des FERMES D’ICI par courrier électronique, dans les quarante-huit (48) heures suivant la connaissance du retard de livraison. Cette disposition est inapplicable lorsque le retard résulte d’un cas de force majeure ou de la faute du Client.
 LES FERMES D’ICI remboursera le Client dans un délai de trente (30) jours maximum à compter de l’ordre d’annulation de la commande du Client
 <br>
ARTICLE 8. VÉRIFICATION DES PRODUITS
<br>
 8.1 : Conformité des produits à réception
<br>
 Il appartient au Client de vérifier, lors du retrait des produits au point-relais, la quantité, la qualité et la conformité des produits.
S’il constate l’existence de produits manquants, surnuméraires ou détériorés, le Client doit en faire part directement, par courriel ou par téléphone (Cf. article 17 des présentes), aux FERMES D’ICI, qui s’engage à apporter une réponse et une solution dans un délai de 7 jours maximum.
Les produits surnuméraires pourront, au choix du Client, être laissés au point-relais ou acceptés par le Client.
Le Client devra laisser au point-relais les produits abîmés, afin de permettre aux FERMES D’ICI de vérifier leur non-conformité. Tout remplacement du produit interviendra nécessairement lors de la livraison de la commande suivante du Client. Le remboursement interviendra dans un délai de trente (30) jours maximum à compter de la connaissance de la réclamation.
 A défaut de contestation émise par le Client lors du retrait des produits, les produits livrés sont réputés correspondre à ceux commandés et être en parfait état, sauf existence d’un vice caché, auquel cas, la garantie accordée par LES FERMES D’ICI s’appliquera dans les conditions définies à l’article 8.2. ci-après.  
 <br>
8.2. Découverte d’un défaut non apparent
<br>
 LES FERMES D’ICI est également responsable des défauts non apparents des produits fermiers, dans les conditions énoncées par les articles L.211-4 et suivants du Code de la Consommation et par les articles 1641 et suivants du Code Civil.
 La garantie légale des vices cachés est expressément exclue si le Client a stocké le produit de manière non conforme à sa destination et aux préconisations de conservation diffusées par les FERMES D’ICI dans la rubrique « conseils de stockage » de son site Internet.
 LES FERMES D’ICI garantit la sécurité des produits qu’elle commercialise et elle est responsable au titre de la garantie des produits défectueux envers le Client.
 Pour mettre en œuvre ces garanties, le Client doit adresser aux FERMES D’ICI un courrier électronique, aux coordonnées indiquées à l’article 17 des présentes, en précisant la nature du défaut de conformité, du vice caché ou du défaut de sécurité du produit, les références de la commande et son identifiant Client.
 Il sera alors procédé, au choix du Client, au remboursement du prix du produit contre sa restitution ou au remplacement du produit.
 <br>
ARTICLE 9. RESPONSABILITÉ
<br>
 La responsabilité des FERMES D’ICI ne pourra en aucun cas être recherchée dans le cas où les produits livrés seraient utilisés ou stockés par le Client dans des conditions anormales, inadaptées ou incompatibles avec leur destination, ou encore dans le cas où le vice et/ou le défaut trouveraient leur origine, même partiellement, dans un comportement fautif ou négligent du Client.
 La responsabilité des FERMES D’ICI ne peut être recherchée lorsque l’inexécution du contrat résulte d’un cas de force majeure, telle que défini à l’article 11 des présentes Conditions Générales de Vente ou d’une faute du Client.
 <br>
ARTICLE 10. ABSENCE DE DROIT DE RÉTRACTATION
<br>
 Conformément aux dispositions de l’article L.121-20-2 3° du Code de la Consommation, le Client ne dispose pas de droit de rétractation dans la mesure où les produits, du fait de leur nature, sont susceptibles de se détériorer ou de se périmer rapidement.
 <br>
ARTICLE 11. FORCE MAJEURE
<br>
 Dans l’hypothèse de la survenance d’un événement, d’un cas fortuit ou de force majeure venant empêcher l’exécution de ses obligations par LES FERMES D’ICI, le contrat de vente en ligne sera immédiatement suspendu, à compter de la notification adressée par LES FERMES D’ICI au Client, par courrier électronique.
 LES FERMES D’ICI informera le Client de la cessation de l’évènement empêchant l’exécution du contrat, par courrier électronique, et le contrat de vente en ligne reprendra immédiatement à la date de cette notification.
 Si un tel évènement venait à se prolonger au-delà de quinze jours après la date de notification, le contrat de vente en ligne sera considéré résilié de plein droit, à la date d’expiration du délai de quinze jours.
 Les sommes perçues par LES FERMES D’ICI avant la résiliation du contrat de vente en ligne seront remboursées au Client dans le délai de trente (30) jours à compter de la date de résiliation.
 On entend par cas de force majeure tout événement rendant soit impossible, soit manifestement plus difficile l’exécution d’une obligation en raison du caractère imprévisible, irrésistible et extérieur de cet événement, tel que incendies, inondations, paralysies des voies de transports routiers ou autres, ruptures de fourniture d’énergies, blocages des télécommunications et des réseaux informatiques, ... ainsi que tout autre événement considéré par la loi ou la jurisprudence comme un cas de force majeure.
 <br>
ARTICLE 12. PROTECTION DES DONNÉES PERSONNELLES
<br>
 12.1 : Sécurité et confidentialité
<br>
 LES FERMES D’ICI a mis en place des mesures strictes de sécurité (firewall, mot de passe, etc.) afin de protéger les données personnelles du Client contre tout accès non autorisé par des tiers ou tout détournement sur son réseau et ses bases de données. Toutefois, LES FERMES D’ICI ne peut garantir que les données personnelles ne seront pas interceptées pendant leur transit via Internet.
 LES FERMES D’ICI garantit au Client, d’une part, le respect de la confidentialité des données personnelles qu’il communique et, d’autre part, l’absence de transmission desdites données à caractère personnel à des tiers.
 <br>
12.2 : But de l’utilisation de vos données personnelles
<br>
 LES FERMES D’ICI est amenée à collecter auprès du Client les informations et les données à caractère personnel (nom, adresse, etc…) nécessaires pour lui permettre de traiter sa commande et établir sa facture.
 LES FERMES D’ICI peut utiliser ces données à des fins de statistiques internes afin d’améliorer la qualité du service rendu à ses Clients, mais elle s’assure de ne conserver les données que pendant le temps nécessaire à la réalisation de ces statistiques, conformément à ses obligations légales.
 La collecte et le traitement des données nominatives ou à caractère personnel susvisées ont fait préalablement l’objet d’une déclaration simplifiée par LES FERMES D’ICI auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL), conformément à la Norme Simplifiée n°48 issue de la Délibération de la CNIL n°2005-112 du 07 juin 2005, portant création d'une norme simplifiée concernant les traitements automatisés de données à caractère personnel relatifs à la gestion des fichiers de clients et de prospects.
<br>
12.3 : Droit d’accès, de rectification et de suppression des données personnelles
<br>
Conformément à la Loi n°78-16 du 6 janvier 1978 relative à l’Informatique, aux fichiers et aux libertés, le Client dispose d'un droit d'accès, de rectification, de modification et de suppression de ses données personnelles, qu’il peut exercer à tout moment en se rendant dans la rubrique « Mon Compte ».
 <br>
12.4 : Données anonymes/ technologie des « cookies »
<br>
 LES FERMES D’ICI peut utiliser la technologie du « cookie », lequel est un petit fichier informatique envoyé au navigateur et stocké sur le disque dur de l’ordinateur de l’utilisateur. Les « cookies » ne peuvent pas être utilisés pour découvrir l’identité de l’utilisateur.
 De manière générale, le cookie enregistre des informations anonymes relatives à la navigation de l’ordinateur de l’utilisateur sur le site (les pages consultées, la date et l'heure de la consultation, etc.), que LES FERMES D’ICI peut lire pour améliorer le contenu de son site web et le personnaliser aux attentes des utilisateurs.
 En l'espèce, le cookie est susceptible de contenir les informations que le Client aura fournies en remplissant les formulaires que LES FERMES D’ICI met à sa disposition sur son site. Ainsi, le Client n'aura pas besoin, lors de sa prochaine visite, de remplir à nouveau le formulaire que LES FERMES D’ICI lui a proposé.
<br>
 L’utilisateur du site web peut s’opposer à l'enregistrement de cookies en configurant son navigateur de la manière suivante :
<br>
 Pour Microsoft Internet Explorer 7.0 :
<br>
1/ choisissez le menu « Outils » (ou Tools), puis «Options Internet» (ou Internet Options)
2/ cliquez sur l’onglet « Confidentialité » (ou  Confidentiality)
3/ cochez la case « Ignorer la gestion automatique des cookies »
4/ sélectionnez l’action souhaitée : Accepter / Refuser / Demander
<br>
 Pour Microsoft Internet Explorer 6.0 :
1/ choisissez le menu « Outils » (ou Tools), puis « Options Internet » (ou Internet Options)
2/ cliquez sur l’onglet « Confidentialité » (ou  Confidentiality)
3/ sélectionnez le niveau souhaité à l’aide du curseur
<br>
 Pour Microsoft Internet Explorer 5.0 :
1/ choisissez le menu « Outils » (ou Tools), puis « Options Internet » (ou Internet Options)
2/ cliquez sur l’onglet « Sécurité » (ou Security)
3/ sélectionnez « Internet » puis « Personnaliser le niveau » (ou Custom Level)
4/ identifiez la rubrique « Cookies » et choisissez l’option que vous souhaitez
<br>
 Pour Netscape 6.X et 7.X :
1/ choisissez le menu « Edition »  > « Préférences »
2/ « Confidentialités et Sécurité »
3/ « Cookies »
<br>
 Pour Netscape Communicator 4.X :
1/ choisissez le menu « Modifier » >  « Préférences »
2/ cliquez sur l’option « Avancé » puis « Cookies »
<br>
 Pour Opéra 6.0 et au-delà :
1/ choisissez le menu « Fichier » >  « Préférences »
2/ « Vie Privée »
 <br>
ARTICLE 13. PROPRIÉTÉ INTELLECTUELLE
<br>
 Le contenu du présent site Internet, et notamment les marques, logos, éléments graphiques, photographiques, vidéos ou sonores qui y figurent sont la propriété des FERMES D’ICI ou sont utilisés avec l’autorisation de leur propriétaire.
 La reproduction de tout contenu du site web, en entier ou en partie, est seulement autorisée aux fins exclusives d’information du Client, pour son usage personnel et privé. Toute reproduction à d’autres fins, quel que soit le support ou le mode de diffusion, est expressément interdite et constitue un acte de contrefaçon exposant son auteur à des poursuites pénales pouvant aboutir à des peines de trois ans d’emprisonnement et 300 000 euros d’amende, conformément aux dispositions de l’article L.335-2 du Code de la propriété intellectuelle.
 <br>
ARTICLE 14. LIENS VERS DES SITES TIERS
<br>
 Le site Internet peut contenir des liens hypertextes donnant accès à d’autres sites web édités par des tiers. LES FERMES D’ICI ne saurait être tenue pour responsable, directement ou indirectement, si ces tiers ne respectent pas les dispositions légales et règlementaires en vigueur.
 <br>
ARTICLE 15. TOLÉRANCE
<br>
 Si l’une ou l’autre des parties est amenée à tolérer des manquements de son cocontractant à ses obligations, cette tolérance n’emportera nullement modification des présentes conditions générales de vente. La partie ayant toléré des manquements de son cocontractant à ses obligations pourra ultérieurement exiger qu’il respecte ses obligations ou se prévaloir de tout nouveau manquement de sa part.
 <br>
 ARTICLE 16. INTERPRÉTATION
<br>
 L’annulation éventuelle d’une ou plusieurs clauses du présent contrat par le Juge n’affecte pas la validité des autres dispositions.
 <br>
ARTICLE 17. CONTACTS
<br>
 Pour toute question ou réclamation relative aux produits, à sa commande, ou à ses données personnelles, le Client peut contacter LES FERMES D’ICI aux coordonnées suivantes :
 <br>
LES FERMES D’ICI
95 chemin de la longue haie – 76550 AMBRUMESNIL
E-mail : valentine@lesfermesdici.fr.
Numéro de téléphone : 02.35.83.83.83  
 aux horaires suivants : 9h-12h / 14h-18h. (coût d’un appel local)
 <br>
 ARTICLE 18. MENTIONS LEGALES
<br>
 Conformément aux dispositions de l’article L.211-15 du Code de la consommation, sont reproduits ci-après les articles L 211-4, L 211-5 et L 211-12 du Code de la consommation, ainsi que l'article 1641 et le premier alinéa de l'article 1648 du Code civil, dont le Client reconnaît expressément avoir pris connaissance préalablement à sa commande.
 <br>
CODE DE LA CONSOMMATION :
 Article L211-4 :
 Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.
Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
 <br>
Article L211-5 :
 Pour être conforme au contrat, le bien doit :
1° Etre propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :
- correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;
- présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;
2° Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
 <br>
Article L211-12 :
 L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.
 <br>
CODE CIVIL :
 Article 1641 :
 Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.
 <br>
Article 1648 :
 L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.
</p>
<br>
{% endblock %}