{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h2>Mentions Légales</h2>

<br>
    LES FERMES D’ICI
<br>
sarl au capital de 5.000 euros
Dont le siège social est situé 95 chemin de la longue haie – 76550 AMBRUMESNIL
Immatriculée au Registre du Commerce et des Sociétés de Dieppe sous le N° B 00244
N° SIREN : 525 028 395
N° de TVA intracommunautaire : FR70 525028395.
<br>
L’Internaute peut contacter la société LES FERMES D’ICI aux coordonnées suivantes :
E-mail : valentine@lesfermesdici.fr
Numéro de téléphone service clients 02 35 83 83 83 aux horaires suivants : de 9h à 18h du lundi midi au vendredi.
<br>
Directeur de la publication : Valentine HEBERT
Hébergement du Site Internet : ALTERNAE SAS , 27140 GISORS 391 948 296 00093 - Tél : 02.32.27.67.93
<br>
 
<br>
CONDITIONS D’UTILISATION DU SITE INTERNET<br>
ARTICLE 1. OBJET<br>
La société LES FERMES D’ICI a pour activité la vente directe de produits fermiers de qualité, frais et de saison, notamment à destination des consommateurs, des restaurateurs et des collectivités locales. La vente en ligne de ces produits est réservée exclusivement aux consommateurs.
<br>
Les présentes conditions générales d’utilisation s’appliquent à tout internaute (ci-après désigné «L’Internaute ») venant visiter le site Internet accessible à partir de l’URL : http://www.lesfermesdici.fr/ (ci-après désigné le « Site Internet »). 
<br>
En accédant au Site Internet, l’Internaute accepte les présentes conditions générales d’utilisation.
<br>
ARTICLE 2. RESPECT DES DROITS DE PROPRIÉTÉ INTELLECTUELLE
Le contenu du Site Internet, et notamment les logiciels, marques, logos, éléments graphiques, photographiques, vidéos ou sonores qui y figurent sont la propriété des FERMES D’ICI ou sont utilisés avec l’autorisation de leur propriétaire.
<br>
La reproduction de tout contenu du Site Internet, en entier ou en partie, est seulement autorisée aux fins exclusives d’information de l’Internaute, pour son usage personnel et privé. Toute reproduction à d’autres fins, quel que soit le support ou le mode de diffusion, est expressément interdite et constitue un acte de contrefaçon exposant son auteur à des poursuites pénales, pouvant aboutir à des peines de trois ans d’emprisonnement et 300 000 euros d’amende, conformément aux dispositions de l’article L.335-2 du Code de la Propriété Intellectuelle.
<br>
ARTICLE 3. LIENS VERS DES SITES TIERS
Le Site Internet peut contenir des liens hypertextes donnant accès à d’autres sites web édités par des tiers. LES FERMES D’ICI ne saurait être tenue pour responsable, directement ou indirectement, si ces tiers ne respectent pas les dispositions légales et règlementaires en vigueur.
<br>
ARTICLE 4. PROTECTION DES DONNÉES PERSONNELLES
4.1. Collecte de données personnelles
 LES FERMES D’ICI peut être amenée à collecter les données personnelles saisies par l’Internaute (nom, adresse électronique, etc.), notamment via la rubrique « Nous contacter » du site Internet.
<br>
 Ces données font l’objet d’un traitement informatique destiné à permettre aux FERMES D’ICI d’entrer en contact avec l’Internaute et d’échanger avec lui.
<br>
 Conformément à la Loi n°78-16 du 6 janvier 1978 relative à l’Informatique, aux fichiers et aux libertés, modifiée en 2004, l’Internaute dispose d'un droit d’opposition au traitement et d’un droit d'accès, de rectification, de modification et de suppression de ses données personnelles, qu’il peut exercer à tout moment en s’adressant aux FERMES D’ICI aux coordonnées suivantes :
<br>
LES FERMES D’ICI
<br>
95 chemin de la longue haie – 76550 AMBRUMESNIL
<br>
E-mail : valentine@lesfermesdici.fr
<br>
Numéro de téléphone : 02 35 83 83 83, cout d’un appel local

 
<br>
Les données à caractère personnel collectées dans le cadre du compte Client sont traitées par LES FERMES D’ICI, 95 chemin de la longue haie, 76550 AMBRUMESNIL aux fins suivantes :
<br>
- le bon traitement des commandes,
<br>
- le suivi et la livraison des commandes, 
<br>
- la facturation
<br>
- le cas échéant, adresser des communications commerciales, sauf opposition de la part du Client, auprès du Délégué à la Protection des Données.
<br>
Les données à caractère personnel qui sont demandées sont toutes obligatoires afin de pouvoir traiter les commandes.
<br>
Ces informations sont uniquement destinées à nos services commerciaux, clients et marketing
<br>
Le Client dispose d'un droit d'accéder aux données le concernant et le cas échéant, d'en demander la rectification et l'effacement.
<br>
Le Client a également la possibilité d'exercer son droit d'opposition au traitement des données à caractère personnel le concernant.
<br>
A compter du 25 mai 2018, l'Internaute est en droit de demander la portabilité de ses données à caractère personnel dans les limites autorisées par la loi, sous un format structuré, couramment utilisé et lisible et peut solliciter la limitation du traitement de vos données.
<br>
Il peut exercer ces droits en contactant le Délégué à la Protection des Données Personnelles, Jérôme Moreau : jerome@lesfermesdici.fr
<br>
Il a la faculté d'introduire une réclamation auprès de la CNIL.
<br>
Les données de compte sont conservées tant que le compte est actif et ensuite archivées conformément à la prescription légale applicable. Les données relatives à une transaction sont conservées jusqu'à la fin de la transaction et ensuite archivées pour la durée requise par la prescription légale applicable.
<br>
 

4.2. Cookies - Javascript<br>
L'uitlisation des cookies et du javascript de votre navigateur est obligatoire pour la navigation sur le site.
<div class="padding"></div>
{% endblock %}