{# {% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

{% endblock %} #}


<form action="{{path('recherche')}}" method="POST" class="">
    {{form_widget(form.produit)}}
    <input type="submit" id="rechercher" value="Rechercher" class="btn btn-primary">
    {{form_widget(form)}}
</form>

