
<form action="{{path('ajoutQte')}}" method="POST" class="">
    {{form_widget(form.qte)}}
    <input type="submit" value=" Mettre au panier" class="btn btn-primary"> 
    {{form_widget(form)}}
</form>

